* {
  margin:0;
  padding:0;
  }
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2 {
  text-align: center;
  padding-bottom: 3rem;
  font-size: 200%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.pt-10{
  padding-top:7rem;
}
.text-center{
  text-align: center;
}
.p-2{
  padding: 2rem;
}
.pt-5{
  padding-top: 5rem;
}
.card-img-top{
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

